<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.repkap11.burger">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".BurgerApplication"
        android:allowBackup="true"
        android:icon="@drawable/burger_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.UsersFractivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LunchLocationsFractivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LunchLocationsTodayFractivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AddLunchLocationFractivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activities.AddLunchGroupFractivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activities.EditUserFractivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activities.AboutUserFractivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LunchGroupsFractivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SignInFractivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activities.TabFractivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".services.ServiceBurgerNotifications"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>